.container {
    height: 100%;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 50px 780px auto 50px;
}

.header{
background-image: url("content/header.png");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
height:160px;
width:600px;
grid-column: 1 / 4;
margin-top:-10px;
margin-left:-10px;
}

.nav{
    width:120%;
    grid-column: 1 / 4;
    width:620px;
    margin-left:-10px;
    
    background-color:#267230;

}

.main{
background-color: white;
grid-column: 1/ -1;
font-family: 'Poppins', sans-serif;
font-size: 12px;
width:580px;
padding-top: 20px;
padding-left: 10px;
}

.h1{
color: gray;
font-style: bold;
font-size: 14px;
}

.widget{
background-color: lightgray;
grid-column: 1/-1;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
margin-right:-10px;
margin-left:-10px;
margin-bottom: -32px;
}

.footer{
background-color:#267230;
font-family: Arial, Helvetica, sans-serif;
font-size: 9px;
color: white;
padding: 10px 0;
text-align: center;
grid-column: 1 / -1;
position: fixed;
bottom:0;
width:102%;
margin-left:-10px;

}



/*menu*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:  #267230;
    }
  
  li {
      float:left;
  }
  
  li a {
      display: block;
      color: white;
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 13px;
      padding: 14px 16px;
      text-decoration: none;
  }
  
  li a:hover {
      background-color:#19491f;
  }


/* flex container */
.flex-container {
    display:flex;
    flex-wrap: wrap;
    column-gap: 20px;
}

.box.index{
    width: 200px;

}

.box.index{
    width: 200px;
}

.box{
    width: 600px;
}

.box1{
    width: 300px;
    margin-right: 10px;
}

.box.about{
    width: 250px;
    margin-right: 20px;
}

.box.about1{
    width: 250px;
    margin-right: 20px;
}


.img1{
    margin-top:10px;
    margin-left:50px;
}

.img2{
    margin-top:15px;
    margin-left:30px;
}
/* contact */


    .form-style{
        max-width: 450px;
        background: #FAFAFA;
        padding: 30px;
        margin: 50px auto;
        border-radius: 10px;
        border: 6px solid #267230;
    }
    
    .form-style [type="text"]{
        display: block;
        margin-bottom: 5px;
        min-height: 35px;
        box-sizing: border-box; 
        padding: 8px;
        outline: none;
        border: none;
        background-color:lightgray;
    }

    .form-style [type="url"]{
        display: block;
        margin-bottom: 5px;
        min-height: 35px;
        box-sizing: border-box; 
        padding: 8px;
        border: none;
        background-color:lightgray;
    }

    .form-style [type="date"]{
        display: block;
        margin-bottom: 5px;
        min-height: 35px;
        box-sizing: border-box; 
        padding: 8px;
        border: none;
        background-color:lightgray;
    }
    
    .form-style [type="message"]{
        display: block;
        width:350px;
	    height:100px;
        margin-bottom: 5px;
        min-height: 35px;
        box-sizing: border-box; 
        padding: 8px;
        border: none;
        background-color:lightgray;
    }

    
    .form-style [type="submit"] {
        background-color: #267230;
        border: 1px solid #19491f;
        display: inline-block;
        cursor: pointer;
        color: #FFFFFF;
        padding: 8px 18px;
        text-decoration: none;
        font: 12px Arial, Helvetica, sans-serif;
    }
 
    .form-style [type="submit"]:hover {
        background-color: #19491f;
    }

    .form-style [type="reset"] {
        background-color: #666666;
        border: 1px solid #333333;
        display: inline-block;
        cursor: pointer;
        color: #FFFFFF;
        padding: 8px 18px;
        text-decoration: none;
        font: 12px Arial, Helvetica, sans-serif;
    }
    .form-style [type="reset"]:hover {
        background-color: #4b4b4b;
    }
    
      }
}